<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pin.image.url(:medium) %><br/>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
